table{
	width: 300px;
	height: 180px;
	border: solid 1px gray;
	padding: 0;
	background-image: url(../img/用户登录/bg1.jpg);
}

th{
	font-size: 18px;
}

td{
	text-align: center;
	font-size: 14px;
}

#user , #pass{
	width: 150px;
	height: 32px;
	border: #000000 1px solid;
	border-radius: 5px;
}

#user{
	background-image: url(../img/用户登录/head.png);
	background-repeat: no-repeat;
	padding-left: 32px;
}

#pass{
	background-image: url(../img/用户登录/keyboard.png);
	background-repeat: no-repeat;
	padding-left: 32px;
}