<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 在web.xml注册 -->
    <servlet>
        <servlet-name>ServletDemo01</servlet-name>
        <servlet-class>cn.itcast.controller.ServletDemo01</servlet-class>
    </servlet>

    <!-- 映射浏览器访问的路径 -->
    <servlet-mapping>
        <servlet-name>ServletDemo01</servlet-name>
        <url-pattern>/ServletDemo01</url-pattern>
    </servlet-mapping>
</web-app>