<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--3 关联 jdbc.properties 文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--1 将连接池交给spring管理-->
    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="ds02" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>



    <!--2 将jdbcTemplate交给spring管理
        <constructor-arg index="0" ref="ds"/> 设置构造方法的参数
        <property name="dataSource" ref="ds"/> 调用当前类的setDataSource方法
    -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds02"/>
    </bean>

    <!--4 将dao交给spring管理-->
    <bean id="bookDao" class="cn.itcast.dao.BookDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
</beans>