<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MrJason_day01-11/src/Diary0623/day09_01_print_01.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Diary0623.day09_01_print_01"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MrJason_day01-11"/>
</launchConfiguration>
